.boundary-layer {
	stroke:#aaa;
	stroke-width:0.5px;
	vector-effect:non-scaling-stroke;
}

.marker-layer circle {
	fill:#F98363;
	stroke:#000000;
	stroke-width:0.25px;
	opacity:0.6;
	vector-effect:non-scaling-stroke;
}

svg {
	background: #FFF1ED
}

.boundary-tooltip {
  line-height: 1.2;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.boundary-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.boundary-tooltip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.school-tooltip {
  line-height: 1.2;
  padding: 6px;
  background: rgba(26, 137, 86, 0.8);
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.school-tooltip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(26, 137, 86,0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.school-tooltip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.bar-text {
	font-family: arial;
	font-size: 10px;
}

.title {
    font-size: 18px;
    fill: #A8A5A4;
    font-weight: 300;
    font-family: Arial
}
.source-text{
	font-size: 10px;
	fill : #147EB2;
	font-weight: 200;
	font-family: Arial
}

@media only screen and (min-width: 500px)
		{	
		#chart{
			position: relative;
			display: block;
			max-width: 80%;
			left:10%;
		}
}

@media only screen and (min-width: 700px){
	#chart{
		position: relative;
		display: block;
		max-width: 60%;
		left:20%;
	}

}

@media only screen and (min-width: 1200px){
	#chart{
		position: relative;
		display: block;
		max-width: 50%;
		left:25%;
	}
}